body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* HEADER */
header {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin-left: 20px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

nav button:hover {
    color: #ffb6c1;
}

/* PAGE */
.page {
    display: none;
    padding: 40px;
    text-align: center;
}

.page.active {
    display: block;
}

/* GAME */
.game-link {
    display: inline-block;
    padding: 15px 25px;
    background-color: #ff69b4;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.game-link:hover {
    background-color: #f79ccc;
}

/* GALERI */
.galeri {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeri img {
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.galeri img:hover {
    transform: scale(1.1);
}